extends layout

block head
	title= title

block content
	.container
		address Auf dem Beuel 9
			br
			| 53773 Hennef 
			br
			abbr(title='Phone') Tel.: 
			| 02242/ 904 1822
		address
			strong Email:
			a(href='mailto:kontakt@tm-portraits.de') kontakt@tm-portraits.de