extends layout

block head
	title= title

block content
	customer-order-create Loading...
	script(type='text/javascript', src='/customer-order-create/dist/inline.bundle.js')
	script(type='text/javascript', src='/customer-order-create/dist/polyfills.bundle.js')
	script(type='text/javascript', src='/customer-order-create/dist/styles.bundle.js')
	script(type='text/javascript', src='/customer-order-create/dist/vendor.bundle.js')
	script(type='text/javascript', src='/customer-order-create/dist/main.bundle.js')
