extends layout

block head
	meta(name='description', content='Handgezeichnetes Porträt vom Foto. Schenken Sie Erinnerung. Portraits schon ab 60,- €"')
	meta(name='keywords', content='geschenke, geschenkideen, geschenk, geschenkidee, persoenliche geschenke, geburtstagsgeschenke, schenken, geschenke fuer maenner')

	title= title

block content
	.container
		a.btn-danger-gradient.btn-lg.left-docked.hidden-xs(role='button', href='/customer-order-create') Bestellen &#187;
		a.btn-danger-gradient.left-docked.visible-xs(role='button', href='/customer-order-create') Bestellen &#187;
		.container.carousel-label
			.row
				.col-xs-11.col.xs-offset-1.col-sm-8.col-sm-offset-4
					span.author Tamara Martens
					p Sie sind auf der Suche nach einem sehr 
						u ausgefallenen Geschenk
						? Für Ihre Liebsten, Ihre Freunde und Bekannte? Wie wäre mit einer Original-Porträtzeichnung? Liebevoll 
						u handgezeichnete Porträts
						|  nach Ihrer Fotovorlage. Detaillierte und sorgfältige Arbeitsweise. Die 
						u exklusivste Geschenkidee
						|  für Hochzeiten, Weinachten, Kommunion oder Konfirmation und viele andere Anlässe.
		.row
			col-xs-12.col-galery
				.galery-wrapper
					.galery
						ul
							li
								img(src='images/Pastelportrait.jpg', alt='Pastelporträt vom Foto')
								img(src='images/examples/Bleistiftportrait3.jpg', alt='Bleistiftporträt')
								img(src='images/examples/Pastelportrait1.jpg', alt='Pastelporträt')
								img(src='images/examples/Bleistiftportrait6.jpg', alt='Bleistiftporträt')
								img(src='images/examples/Bleistiftportrait1.jpg', alt='Bleistiftporträt')
								img(src='images/examples/Pastelportrait4.jpg', alt='Pastelporträt')
								img(src='images/examples/Buntstiftportrait2.jpg', alt='Buntstiftporträt')
								img(src='images/examples/Pastelportrait2.jpg', alt='Pastelporträt')
								img(src='images/examples/Buntstiftportrait1.jpg', alt='Buntstiftporträt')
								img(src='images/examples/Bleistiftportrait5.jpg', alt='Bleistiftporträt')
								img(src='images/examples/Bleistiftportrait4.jpg', alt='Bleistiftporträt')
								img(src='images/Buntstiftportrait.jpg', alt='Buntstiftporträt vom Foto')
					a#previous.left.carousel-control(role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
						span.sr-only Previous
					a#next.right.carousel-control(role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
						span.sr-only Next
	.container
		#blei.row.examples-container
			.col-md-7.col-lg-6
				ul.tabs-buttons
					li
						button#pastbtn1.btn Pastell
					li
						button#buntbtn1.btn Buntstift
					li
						button#bleibtn.btn.active Bleistift
				img.img-responsive(src='images/Bleistiftportrait.jpg', alt='Bleistiftporträt vom Foto')
			.col-md-5.text-center
				h1 Bleistift
				p Ein Bleistiftporträt wirkt durch tolle hell/dunkel Kontraste sehr zeitlos, edel und elegant. Durch die verschiedenen Härtegrade der Minen(Grautöne) kann man die glatte Haut von Menschen und auch jedes einzelne Tierhaar sehr gut auf das Papier bringen.
				a.btn.btn-danger.btn-lg(href='/customer-order-create', role='button') Bestellen &#187;
		#bunt.row.examples-container
			.col-md-7.col-lg-6
				ul.tabs-buttons
					li
						button#pastbtn1.btn Pastell
					li
						button#buntbtn1.btn.active Buntstift
					li
						button#bleibtn.btn Bleistift
				img.img-responsive(src='images/Buntstiftportrait.jpg', alt='Buntstiftporträt vom Foto')
			.col-md-5.text-center
				h1 Buntstift
				p Bei Buntstiftzeichnungen arbeitet man meistens in Schichten. Von hellen Farben zu den Dunkleren. Durch diese kräftige Farbmischung sehen die Bilder, vor allem Tierporträts sehr lebensecht aus. Man kommt der Vorlage erstaunlich nahe.
				a.btn.btn-danger.btn-lg(href='/customer-order-create', role='button') Bestellen &#187;
		#past.row.examples-container
			.col-md-7.col-lg-6
				ul.tabs-buttons
					li
						button#pastbtn1.btn.active Pastell
					li
						button#buntbtn1.btn Buntstift
					li
						button#bleibtn.btn Bleistift
				img.img-responsive.visible-xs(src='images/Pastelportrait.jpg', alt='Pastelporträt vom Foto')
				img.hidden-xs(src='images/Pastelportrait.jpg', alt='Pastelporträt vom Foto')
			.col-md-5.text-center
				h1 Pastell
				p Pastell-Malerei ist eine wunderbare Mal-Technik um Menschen und Tierporträts anzugehen. Hierbei werden spezielle Kreiden und Pastellstifte verwendet. Man zeichnet mit Kreiden und hebt anschließend die Details mit Pastellstiften hervor. Sehr farbintensiv und realistisch. Sie zeichnet sich durch eine gewisse Lebendigkeit und Leuchtkraft aus.
				a.btn.btn-danger.btn-lg(href='/customer-order-create', role='button') Bestellen &#187;
		.row
			.col-xs-12
				h2 Der Bestellvorgang
				p Auf der Seite finden Sie den Punkt „Bestellen“, dort gibt es ein Bestellformular. Füllen Sie dieses mit Ihren persönlichen Angaben und Wünschen aus. Ihr  Foto bzw. Ihre Fotos können Sie direkt hochladen oder mir per Email schicken. Beachten Sie bitte, dass das Formular das Abschicken nur dann erlaubt, wenn Sie <u>mindestens ein Foto</u> hochgeladen haben. Meine Emailadresse finden Sie unter dem Menüpunkt „Kontakt“. Das Foto sollte von 
					u guter Qualität
					|  sein und eine hohe Auflösung haben. Je höher die Auflösung desto besser wird das Bild, weil ich mehr Details einbringen kann.  Wenn zum Beispiel auf dem Foto die Augen im Schatten und nicht zu erkennen sind, kann ich sie auch nicht zeichnen. Auch wenn Sie nur eine Person auf nur einem Porträt haben wollen, schicken Sie ruhig mehrere Fotos. 
					u Nahaufnahmen
					|  eignen sich eher als Fotos, auf denen die Menschen in voller Größe abgebildet sind. Je nach Auftragslage dauert es ein 
					u bis zwei Wochen
					|  bis Ihr Porträt fertig wird.
	.hidden(itemscope, itemtype='http://data-vocabulary.org/Product')
		div
			strong
				span(itemprop='name') Porträt vom Foto
				span(itemprop='description') Liebevoll handgezeichnetes Porträt von Ihrer Fotovorlage
		div(itemprop='offerDetails', itemscope, itemtype='http://data-vocabulary.org/Offer-Aggregate')
			meta(itemprop='currency', content='EUR')
			div
				strong Preis ab:
				span(itemprop='lowPrice') 60.00
				| €
			div
				strong bestellen unter:
				span(itemprop='offerURL') http://www.tm-portraits.de/customer-order-create

	h1= title
	p Welcome to #{title}
