doctype html
html(lang='de-de')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='author', content='Tamara Martens')
		meta(name='creator', content='Richard Martens')
		meta(http-equiv='language', content='DE')
		
		link(rel='shortcut icon', media='all', href='/images/icon.ico')

		script(src='/javascripts/google.analytics.js')

		block head

		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			.row
				.col-sm-12.text-right 
					h1
						u Porträtstudio
						br
						small Die Geschenkidee mit Erinnerungswert
			.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-inverse.bg-inverse
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon

				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='/') Startseite
						li.nav-item
							a.nav-link(href='/customer-order-create') Bestellen
						li.nav-item
							a.nav-link(href='/contact') Kontakt
		block content
		footer.footer.hidden-print
			.container
				ul.nav.navbar-nav
					li
						a(href='/gtc') AGB
					li
						a(href='/imprint') Impressum
		hr.hidden-print
		footer.hidden-print
			.container
				p &copy; 2017 - Tamara Martens Porträtstudio 1
