$gray: #02AFB5;
$gray-dark: #147179;
$brand-inverse: $gray;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face { 
	font-family: 'Britannic Bold';
	src: url('BRITANIC.TTF') format('truetype'); 
}

h1, h2, h3, h4, h5, h6 {
	font-family: Britannic Bold;
	color: $gray;
	text-transform: uppercase;
	line-height: 0.6;
	padding: 10px 0;
	margin: 20px 0 10px 0;
	
	small {
		color: $gray-dark;
		font-size: 38%;
	}
}

a.nav-link {
	font-family: Arial;
	font-size: 21px;
	font-weight: bold;
}

.carousel-label {
	background-image: url('/images/carousel.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: cover;
	min-height: 330.95px;
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
	@include gradient-y();
	background-color: unset;
}

/*
.btn-order {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	
	&:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
		background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
		background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
		background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
		background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
		background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
		background-color:#e4685d;
		color: $gray-dark;
	}
	
	&:active {
		position:relative;
		top:1px;
	}
}*/

.left-docked {
	position: absolute;
	transform: rotate(270deg);
	margin-left: -51px;
	margin-top: 115px;
	z-index: 1;
}

@media(min-width: 768px){
    h1, .h1 {
			font-size: 61px; /*36 original*/
    }
		
	.left-docked {
		margin-left: -45px;
		margin-top: 172px;
	}
}

@media(min-width: 992px){
	.left-docked {
		margin-left: -45px;
		margin-top: 202px;
	}
	.carousel-label {
		min-height: 432.07px;
	}
}

@media(min-width: 1200px){
	.left-docked {
		margin-left: -35px;
		margin-top: 222px;
	}
	.carousel-label {
		min-height: 524px;
	}
}

