<h2>Anfrage</h2>
<h4>Daten zur Anfrage angeben</h4>
<hr />
<form action="/Request/AddFile" enctype="multipart/form-data" id="fileUploadForm" method="post">    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="Files">Bilder hochladen</label>
            <div class="col-md-10">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <label class="btn btn-default btn-file">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    <span>Datei hochladen...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="Files" name="Files" type="file" accept=".gif,.jpg,.jpeg,.png,.bpm,.tiff" />
                </label>
                <span class="field-validation-valid text-danger" data-valmsg-for="Files" data-valmsg-replace="true"></span>
                <!-- The container for the uploaded files -->
                <div id="files" class="row"></div>
            </div>
        </div>
    </div>
</form>
<form action="/Request/Create" method="post">  
	<div class="form-horizontal">
		<div class="form-group">
				<label class="control-label col-md-2" for="ProductId">Portrait-Typ:</label>
				<div class="col-md-3">
						<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active">
										<input type="radio" name="ProductId" id="0" value="0" autocomplete="off" checked> Bleistiftporträt
								</label>
								<label class="btn btn-default">
										<input type="radio" name="ProductId" id="1" value="1" autocomplete="off"> Buntstiftporträt
								</label>
								<label class="btn btn-default">
										<input type="radio" name="ProductId" id="2" value="2" autocomplete="off"> Pastellporträt
								</label>
						</div>
						<span class="field-validation-valid text-danger" data-valmsg-for="ProductId" data-valmsg-replace="true"></span>
				</div>
				<div class="col-md-6 col-md-offset-1 col-lg-offset-1">
						<span id="ProductPrice" name="ProductPrice">60,00 €</span>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="CountSubjects">Anzahl Personen oder Tiere:</label>
				<div class="col-md-4">
						<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active">
										<input type="radio" name="CountSubjects" id="1" value="1" autocomplete="off" checked> 1
								</label>
								<label class="btn btn-default">
										<input type="radio" name="CountSubjects" id="2" value="2" autocomplete="off"> 2
								</label>
								<label class="btn btn-default">
										<input type="radio" name="CountSubjects" id="3" value="3" autocomplete="off"> 3
								</label>
								<label class="btn btn-default">
										<input type="radio" name="CountSubjects" id="4" value="4" autocomplete="off"> 4
								</label>
								<label class="btn btn-default">
										<input type="radio" name="CountSubjects" id="5" value="5" autocomplete="off"> 5
								</label>
						</div>
						<span class="field-validation-valid text-danger" data-valmsg-for="CountSubjects" data-valmsg-replace="true"></span>
				</div>
				<div class="col-md-6">
						+&nbsp;<span id="SubjectPrice" name="SubjectPrice">0,00 €</span>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="SizeId">Gr&#246;&#223;e:</label>
				<div class="col-md-4">
						<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active">
										<input type="radio" name="SizeId" id="0" value="0" autocomplete="off" checked> A4
								</label>
								<label class="btn btn-default">
										<input type="radio" name="SizeId" id="1" value="1" autocomplete="off"> A3
								</label>
								<label class="btn btn-default">
										<input type="radio" name="SizeId" id="2" value="2" autocomplete="off"> A2
								</label>
						</div>
						<span class="field-validation-valid text-danger" data-valmsg-for="SizeId" data-valmsg-replace="true"></span>
				</div>
				<div class="col-md-6">
						+&nbsp;<span id="SizePrice" name="SizePrice">0,00 €</span>
				</div>
		</div>


		<div class="form-group">
				<label class="control-label col-md-2" for="FirstName">Vorname:</label>
				<div class="col-md-10">
						<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;Vorname:&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 64 sein." data-val-maxlength-max="64" data-val-required="Das Feld &quot;Vorname:&quot; ist erforderlich." id="FirstName" maxlength="64" name="FirstName" placeholder="Pflichtfeld" type="text" value="" />
						<span class="field-validation-valid text-danger" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="LastName">Nachname:</label>
				<div class="col-md-10">
						<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;Nachname:&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 64 sein." data-val-maxlength-max="64" data-val-required="Das Feld &quot;Nachname:&quot; ist erforderlich." id="LastName" maxlength="64" name="LastName" placeholder="Pflichtfeld" type="text" value="" />
						<span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="StreetPostOfficeBox">Strasse/Postfach, Hausnummer:</label>
				<div class="col-md-10">
						<div class="row">
								<div class="col-sm-9 col-xs-8">
										<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;Strasse/Postfach, Hausnummer:&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 64 sein." data-val-maxlength-max="64" data-val-required="Das Feld &quot;Strasse/Postfach, Hausnummer:&quot; ist erforderlich." id="StreetPostOfficeBox" maxlength="64" name="StreetPostOfficeBox" type="text" value="" />
								</div>
								<div class="col-sm-3 col-xs-4">
										<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;HouseNumber&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 8 sein." data-val-maxlength-max="8" id="HouseNumber" maxlength="8" name="HouseNumber" type="text" value="" />
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12">
								<span class="field-validation-valid text-danger" data-valmsg-for="StreetPostOfficeBox" data-valmsg-replace="true"></span>
						</div>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="PostalCode">Postleitzahl, Ort:</label>
				<div class="col-md-10">
						<div class="row">
								<div class="col-sm-3 col-xs-4">
										<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;Postleitzahl, Ort:&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 16 sein." data-val-maxlength-max="16" data-val-required="Das Feld &quot;Postleitzahl, Ort:&quot; ist erforderlich." id="PostalCode" maxlength="16" name="PostalCode" placeholder="Pflichtfeld" type="text" value="" />
								</div>
								<div class="col-sm-9 col-xs-8">
										<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;City&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 64 sein." data-val-maxlength-max="64" data-val-required="Das Feld &quot;City&quot; ist erforderlich." id="City" maxlength="64" name="City" placeholder="Pflichtfeld" type="text" value="" />
								</div>

						</div>
				</div>
				<div class="row">
						<div class="col-md-12">
								<span class="field-validation-valid text-danger" data-valmsg-for="PostalCode" data-valmsg-replace="true"></span>
						</div>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="Email">Email</label>
				<div class="col-md-10">
						<input class="form-control text-box single-line" data-val="true" data-val-maxlength="Das Feld &quot;Email&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 256 sein." data-val-maxlength-max="256" data-val-required="Das Feld &quot;Email&quot; ist erforderlich." id="Email" maxlength="256" name="Email" placeholder="Pflichtfeld" type="email" value="" />
						<span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
				</div>
		</div>

		<div class="form-group">
				<label class="control-label col-md-2" for="Remarks">Bemerkung:</label>
				<div class="col-md-10">
						<textarea class="form-control text-box multi-line" data-val="true" data-val-maxlength="Das Feld &quot;Bemerkung:&quot; muss ein Zeichenfolgen- oder Arraytyp mit einer maximalen Länge von 256 sein." data-val-maxlength-max="256" id="Remarks" maxlength="256" name="Remarks">
						</textarea>
						<span class="field-validation-valid text-danger" data-valmsg-for="Remarks" data-valmsg-replace="true"></span>
				</div>
		</div>

		<div class="form-group">
				<div class="col-md-offset-2 col-md-2">
						<button type="submit" class="btn btn-primary" disabled>
								Bestellen <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
						</button>
				</div>
				<div class="col-md-2">
						<span class="control-label">Gesamtbetrag:</span>
				</div>
				<div class="col-md-6">
						<span id="TotalAmount" class="control-label">0,00 €</span>
				</div>
		</div>
    </div>
</form>


